<h1 id="channel_id" data-channel-id="<%= @channel.id %>" >歡迎來到<%= @channel.name %></h1>
<%= form_with(model: @message, url: channel_messages_path(@channel.id)) do |f| %>
<%= f.text_field :content, placeholder: "輸入訊息" %>
<%= f.submit "送出" %>
<% end %>



<ul id="messagelist">
  <% @messages.reverse.each do |msg| %>
  <li>
    <%= msg.content %>
  </li>
  <% end %>
</ul>