<h1>會員註冊</h1>
<%= form_with(model: @user, url: users_path, method: "post", local: true) do |f| %>
  <div class="field">
    <%= f.label :account, "帳號" %>
    <%= f.text_field :account %>
  </div>
  <div class="field">
    <%= f.label :password, "密碼" %>
    <%= f.password_field :password %>
  </div>
  <%= f.submit "註冊" %>
<% end %>