<div class="">
<% if current_user %>
  <div class="">
    <%= link_to "創立workspace", new_channel_path %>
  </div>
  <p>歡迎<%= current_user.account %></p>
  <%= link_to "登出", sign_out_users_path, method: "delete" %>
  <h3>已擁有的channel</h3>
  <ul>
    <% current_user.channels.each do |channel| %>
    <li><%= link_to channel.name, channel_path(channel.id) %></li>
    <% end %>
  </ul>

<% else %>
  <%= link_to "去登入", sign_in_users_path %>
  <%= link_to "去註冊", sign_up_users_path %>
<% end %>


  
</div>

